body {
    background-color: black;
}

.clock {
    /* display: flex; */
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9c9ec8;
}

#clock_time {
    font-size: 75px;
    font-weight: bold;
}

#clock_day {
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}